[Unit]
Description=HTCondor CE Collector
After=syslog.target network-online.target
Wants=network-online.target

[Service]
Type=forking
ExecStart=/usr/share/condor-ce/condor_ce_startup collector
ExecStop=/usr/bin/condor_ce_off
ExecReload=/usr/bin/condor_ce_restart
Restart=always
RestartSec=5
StandardOutput=syslog+console
LimitNOFILE=16384

[Install]
WantedBy=multi-user.target

