[Unit]
Description=HTCondor CE Central Collector configuration generator
After=syslog.target network-online.target
Wants=network-online.target

[Service]
Type=oneshot
ExecStart=/usr/bin/condor_ce_config_generator
StandardOutput=syslog+console
LimitNOFILE=16384

[Install]
WantedBy=multi-user.target
