[Unit]
Description=HTCondor CE
After=syslog.target network.target
Wants=network.target

[Service]
Type=forking
ExecStart=/etc/init.d/condor-ce start
ExecStop=/etc/init.d/condor-ce stop
ExecReload=/etc/init.d/condor-ce reload
Restart=always
RestartSec=5
StandardOutput=syslog
LimitNOFILE=16384

[Install]
WantedBy=multi-user.target

