[Unit]
Description=HTCondor CE Central Collector configuration generator
After=syslog.target network.target condor-ce-collector-config.service
Wants=network.target condor-ce-collector-config.service condor-ce-collector-config.service

[Service]
Type=oneshot
ExecStart=/usr/bin/condor_ce_config_generator
StandardOutput=syslog+console
LimitNOFILE=16384

[Install]
WantedBy=multi-user.target
