<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/">
  <head>
    <title>HTCondor-CE Overview</title>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js" type="text/javascript"></script>
    <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.0/css/bootstrap-combined.min.css" rel="stylesheet" type="text/css" />
    <script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.0/js/bootstrap.min.js" type="text/javascript"></script>
    <script type='text/javascript' src='https://www.google.com/jsapi'></script>
    <script type='text/javascript'>
//<![CDATA[
        google.load('visualization', '1', {packages:['table', 'controls']});
        $(document).ready(function() {
            load_data();
            setInterval(load_data, 300000);
        });

        function load_data() {
            $.get('/json/totals', got_totals);
            $.get('/json/pilots', got_pilots);
        }

        function got_totals(data) {

            $('#overall_stats_table').detach();
            schedd_stats_table = $("<table></table>");
            schedd_stats_table.addClass("table");
            schedd_stats_table.attr('id', 'overall_stats_table');
            schedd_stats_table.append("<tr><th>Running</th><th>Idle</th><th>Held</th><th>Last Data Update</th>");
            schedd_stats_table.append("<tr><td>" + data.Running + "</td><td>" + data.Idle + "</td><td>" + data.Held + "</td><td>" + Date(data.UpdateDate).toLocaleString() + "</td></tr>");
            $("#schedd_stats_table").append(schedd_stats_table);
        }

        function got_pilots(data) {
            $("#pilots_table_inner").detach();
            pilots_table = $("<table></table>");
            pilots_table.addClass("table");
            pilots_table.attr("id", "pilots_table_inner");
            pilots_table.append("<tr><th>VO</th><th>VOMS</th><th>Jobs</th><th>Running</th><th>Idle</th><th>Held</th><th>DN</th></tr>");
            for (idx in data) {
                pilot = data[idx];
                pilots_table.append("<tr><td>" + pilot.VO + "</td><td>" + pilot.VOMS + "</td><td>" + pilot.Jobs + "</td><td>" + pilot.Running + "</td><td>" + pilot.Idle + "</td><td>" + pilot.Held + "</td><td>" + pilot.DN + "</td></tr>");
            }
            $("#pilots_table").append(pilots_table);
        }
//]]>
    </script>
  </head>
  <body>
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <button data-target=".nav-collapse" data-toggle="collapse" class="btn btn-navbar" type="button">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a href="/" class="brand">HTCondor-CE Overview</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li><a href="/vos">VOs</a></li>
              <li><a href="/pilots">Pilots</a></li>
              <li><a href="/health">Health</a></li>
              <li><a href="/metrics">Metrics</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>
    <div class="container-fluid" style="padding-top:60px">
      <div class="row-fluid" id="top_summary">
        <div class="span12">
          <div class="span3" style="padding-top:40px">
            <div id="schedd_stats_table"></div>
          </div>
          <div class="span3">
            <div class="row-fluid">
              <h2>Last Hour</h2>
              <div id="ce_hourly_img">
                  <img id="ce_hourly_img" src="graphs/ce/hourly"/>
              </div>
            </div>
          </div>
          <div class="span3">
            <div class="row-fluid">
              <h2>Last Day</h2>
              <div id="ce_daily_div">
                  <img id="ce_daily_img" src="graphs/ce/daily"/>
              </div>
            </div>
          </div>
          <div class="span3">
            <div class="row-fluid">
              <h2>Last Week</h2>
              <div id="ce_weekly_div">
                  <img id="ce_weekly_img" src="graphs/ce/weekly"/>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row-fluid">
        <div class="span12">
          <h2>Pilots</h2>
          <div id="pilots_table"/>
        </div>
      </div>
      <div class="row-fluid">
        <div class="span12">
          <h2>CE info</h2>
          <table class="table">
            <tr><td>OSG Resource</td><td>${resource}</td></tr>
            <tr><td>OSG Resource Group</td><td>${resourcegroup}</td></tr>
            <tr><td>Batch System</td><td>${batchsys}</td></tr>
            <tr><td>HTCondor-CE version</td><td>${ceversion}</td></tr>
            <tr><td>HTCondor version</td><td>${version}</td></tr>
          </table>
          <hr/>
        </div>
      </div>
    </div>
  </body>
</html>
