<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:xi="http://www.w3.org/2001/XInclude"
      xmlns:py="http://genshi.edgewall.org/">
    <xi:include href="header.html" />
  <head>
    <title py:if="multice">Grid Overview</title>
    <title py:if="not multice">HTCondor-CE Overview</title>
    <script type='text/javascript'>
//<![CDATA[
        google.load('visualization', '1', {packages:['table', 'controls']});
        $(document).ready(function() {
            load_data();
            setInterval(load_data, 300000);
        });

        function load_data() {
            $.get('/json/totals', got_totals);
            $.get('/json/pilots', got_pilots);
            if("${multice}" != "False") {
                $.get('/json/schedds', got_schedds);
            } else {
                $.get('/json/schedd', got_info);
            }
        }

        function got_totals(data) {

            $('#overall_stats_table').detach();
            schedd_stats_table = $("<table></table>");
            schedd_stats_table.addClass("table");
            schedd_stats_table.attr('id', 'overall_stats_table');
            schedd_stats_table.append("<tr><th>Running</th><th>Idle</th><th>Held</th><th>Last Data Update</th>");
            schedd_stats_table.append("<tr><td>" + data.Running + "</td><td>" + data.Idle + "</td><td>" + data.Held + "</td><td>" + Date(data.UpdateDate).toLocaleString() + "</td></tr>");
            $("#schedd_stats_table").append(schedd_stats_table);
        }

        function got_info(data) {

          $('#info_table_inner').detach();
          info_table = $("<table></table>");
          info_table.addClass("table");
          info_table.attr("id", "info_table_inner");
          info_table.append("<tr><td>OSG Resource</td><td>" + data.OSG_Resource + "</td></tr>");
          info_table.append("<tr><td>OSG Resource Group</td><td>" + data.OSG_ResourceGroup + "</td></tr>");
          info_table.append("<tr><td>Batch System</td><td>" + data.OSG_BatchSystems + "</td></tr>");
          info_table.append("<tr><td>HTCondor-CE version</td><td>" + data.HTCondorCEVersion + "</td></tr>");
          info_table.append("<tr><td>HTCondor version</td><td>" + data.CondorVersion + "</td></tr>");
          $("#info_table").append(info_table);

        }

        function got_schedds(data) {

          $('#info_table_inner').detach();
          info_table = $("<table></table>");
          info_table.addClass("table");
          info_table.attr("id", "info_table_inner");
          info_table.append("<th>CE</th><th>OSG Resource</th><th>OSG Resource Group</th><th>Batch System</th><th>HTCondor-CE Version</th><th>HTCondor Version</th>");
          for (name in data) {
              key = data[name]
              info_table.append("<tr><td>" + name + "</td><td>" + key.OSG_Resource + "</td><td>" + key.OSG_ResourceGroup + "</td><td>" + key.OSG_BatchSystems + "</td><td>" + key.HTCondorCEVersion + "</td><td>" + key.CondorVersion + "</td></tr>");
          }
          $("#info_table").append(info_table);

        }

        function got_pilots(data) {
            $("#pilots_table_inner").detach();
            pilots_table = $("<table></table>");
            pilots_table.addClass("table");
            pilots_table.attr("id", "pilots_table_inner");
            pilots_table.append("<tr><th>VO</th><th>VOMS</th><th>Jobs</th><th>Running</th><th>Idle</th><th>Held</th><th>DN</th></tr>");
            for (idx in data) {
                pilot = data[idx];
                pilots_table.append("<tr><td>" + pilot.VO + "</td><td>" + pilot.VOMS + "</td><td>" + pilot.Jobs + "</td><td>" + pilot.Running + "</td><td>" + pilot.Idle + "</td><td>" + pilot.Held + "</td><td>" + pilot.DN + "</td></tr>");
            }
            $("#pilots_table").append(pilots_table);
        }
//]]>
    </script>
  </head>
  <body>
    <div class="container" style="padding-top:60px">
      <div class="row" id="top_summary">
        <div class="col-sm-12">
          <div class="col-sm-3" style="padding-top:40px">
            <div id="schedd_stats_table"></div>
          </div>
          <div class="col-sm-3">
            <div class="row">
              <h2>Last Hour</h2>
              <div id="ce_hourly_img">
                  <img id="ce_hourly_img" src="graphs/ce/hourly" class="img-responsive"/>
              </div>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="row">
              <h2>Last Day</h2>
              <div id="ce_daily_div">
                  <img id="ce_daily_img" src="graphs/ce/daily" class="img-responsive"/>
              </div>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="row">
              <h2>Last Week</h2>
              <div id="ce_weekly_div">
                  <img id="ce_weekly_img" src="graphs/ce/weekly" class="img-responsive"/>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <h2>Pilots</h2>
          <div class="table-responsive">
            <div id="pilots_table"/>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <h2>Info</h2>
          <div id="info_table"/>
        </div>
      </div>
    </div>
  </body>
</html>
