<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/">
  <head>
    <title>HTCondor-CE VO Overview</title>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js" type="text/javascript"></script>
    <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.0/css/bootstrap-combined.min.css" rel="stylesheet" type="text/css" />
    <script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.0/js/bootstrap.min.js" type="text/javascript"></script>
    <script type='text/javascript' src='https://www.google.com/jsapi'></script>
  </head>
  <body>
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <button data-target=".nav-collapse" data-toggle="collapse" class="btn btn-navbar" type="button">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a href="/" class="brand">HTCondor-CE Overview</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li><a href="/vos">VOs</a></li>
              <li><a href="/pilots">Pilots</a></li>
              <li><a href="/metrics">Metrics</a></li>
              <li><a href="/health">Health</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>
    <div class="container-fluid" style="padding-top:60px">
      <div py:for="group in sorted(metrics)">
        <h1>${group}</h1>
        <div py:for="name in sorted(metrics[group])" class="row-fluid">
          <div class="span12">
            <h2>${name}</h2>
            <div class="span3">
              <h3>Last Hour</h3>
              <img src="graphs/metrics/${group}/${name}/hourly"/>
            </div>
            <div class="span3">
              <h3>Last Day</h3>
              <img src="graphs/metrics/${group}/${name}/daily"/>
            </div>
          </div>
        </div>
        <hr/>
      </div>
    </div>
  </body>
</html>
