{% extends "base.html" %}

{% block content %}
    <div class="admonition question">
        <p class="admonition-title">
            Virtual Office Hours
        </p>
        <p>
          Have questions about HTCondor-CE?
          Join our office hours on
          <a href="https://research.cs.wisc.edu/htcondor/office-hours/2020-07-21-HTCondorCE/">21 July, 2020</a>!
        </p>
    </div>
    <div class="admonition info">
        <p class="admonition-title">
            HTCondor-CE 3 Documentation
        </p>
        <p>
            This documentation is for HTCondor-CE 3.
            If you need documentation for HTCondor-CE 4, please consult
            <a href="https://htcondor-ce.readthedocs.io/en/latest/">https://htcondor-ce.readthedocs.io/en/latest/</a>
        </p>
    </div>
    {{ super() }}
{% endblock %}
