name: Build and upload HTCondor-CE RPMs
on:
  release:
    # there seems to be contention between 'published' vs 'created' here
    # 'published' occurs with a GitHub release
    types: [published]
  workflow_dispatch:

jobs:
  build-rpms-and-upload:
    runs-on: ubuntu-20.04
    if: startsWith(github.repository, 'htcondor/')
    strategy:
      matrix:
        platform:
          - centos:7
          - rockylinux:8
          - almalinux:9
    steps:
      - uses: actions/checkout@v3

      - name: Prepare Docker
        run: |
          echo 'DOCKER_OPTS="-H tcp://127.0.0.1:2375 -H unix:///var/run/docker.sock -s devicemapper"' | sudo tee /etc/default/docker > /dev/null &&
            sudo service docker restart

      - name: Start ${{ matrix.platform }} image
        run: |
          docker run --privileged --detach --env "container=docker" \
                 --name $GITHUB_SHA \
                 --volume `pwd`:/htcondor-ce:rw \
                 ${{ matrix.platform }} \
                 /usr/sbin/init

      - name: Build CHTC ${{ matrix.platform }} RPMs
        run: |
          docker exec $GITHUB_SHA \
                 /bin/bash -xc \
                   "/htcondor-ce/tests/build_rpms.sh \
                     ${{ matrix.platform }} \
                     uw_build"

      - name: Upload CHTC ${{ matrix.platform }} RPMs
        run: |
          ssh-agent -a "$SSH_AUTH_SOCK" > /dev/null
          ssh-add - <<< "${{ secrets.CI_XFER_KEY }}"
          tests/sftp_upload.sh
        env:
          SSH_AUTH_SOCK: /tmp/ssh_agent.sock
